
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b66975;
    text-align: center;
}

#resultado {
    display: flex;              
    flex-wrap: wrap;            
    justify-content: center;    
    gap: 15px;                  
    padding: 20px;
}

.card {
    background-color: white;
    width: 160px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: left;
}

.card h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}